body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

h1{ font-size: 2em }
h2{ font-size: 1.5em }
h3{ font-size: 1.25em }

form.curate-forms {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 10px;
}

form.curate-forms input, form.curate-forms div.input-group {
  flex-grow: 2;
  margin: 0 10px;
}

form.curate-forms .input-group input {
  width: 100%;
  margin: 0;
}

button, .mock-button {
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  font-size: .8em;
  color: grey;
}

button:hover, .mock-button:hover {
  background-color: grey;
  color: white;
}

button:disabled, button[disabled]:hover, .mock-button:disabled, .mock-button[disabled]:hover {
  border: 1px solid lightgrey;
  background-color: white;
  color: lightgrey;
}

button.next-page {
  float: right;
}

.thumbnail-container {
  margin: 3px;
  width: 15%;
  padding-bottom: 14.5%;
  box-sizing: border-box;
  border: 2px solid white;
}

.selected {
  left: -3px;
	top: -3px;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.5);
  border: 2px solid #22AA33;
  transition-property: all;
	transition-duration: .1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.instagram-gallery-appear {
  max-height: 0;
}

.instagram-gallery-appear.instagram-gallery-appear-active {
  max-height: 1000px; /* approximate max height */

	transition-property: all;
	transition-duration: 2000ms;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.instagram-gallery-enter {
  max-height: 0;
}

.instagram-gallery-enter.instagram-gallery-enter-active {
	max-height: 1000px; /* approximate max height */

	transition-property: all;
	transition-duration: 2000ms;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.instagram-gallery-leave {
  max-height: 1000px;
}

.instagram-gallery-leave.instagram-gallery-leave-active {
  overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
