body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}


/*body {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 10% 800px auto;
}*/

/*header.page-topper {
  grid-column-start: 2;
  grid-column-end: 2;
}*/

h1{ font-size: 2em }
h2{ font-size: 1.5em }
h3{ font-size: 1.25em }

form.curate-forms {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 10px;
}

form.curate-forms input, form.curate-forms div.input-group {
  flex-grow: 2;
  margin: 0 10px;
}

form.curate-forms .input-group input {
  width: 100%;
  margin: 0;
}

button, .mock-button {
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  font-size: .8em;
  color: grey;
}

button:hover, .mock-button:hover {
  background-color: grey;
  color: white;
}

button:disabled, button[disabled]:hover, .mock-button:disabled, .mock-button[disabled]:hover {
  border: 1px solid lightgrey;
  background-color: white;
  color: lightgrey;
}

button.next-page {
  float: right;
}
